{% extends 'layout.html' %}

{% block body %}

	<div class="jumbotron-light text-center">
		<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9d/University_of_New_Mexico_logo.svg/320px-University_of_New_Mexico_logo.svg.png">
	</div>	
	<div class="jumbotron text-center">
		<h1>About</h1>
			<div class="container text-left">
				This app was created by several engineering students at the University of New Mexico as part of ECE 435: Software Engineering. The goal of this effort was to implement an application that simplifies the employee scheduling process for Crownpoint Healthcare Facilities. By moving to an automated scheduling system, admin no longer has to go through the tedious process of scheduling shifts and employees can easily request preferred shifts from a remote location. To begin the new Crownpoint Healthcare employee scheduling experience, please login or register. Once logged in, employees can submit a request form indicating preferred shifts for the month. The app will work its scheduling magic, taking several parameters into consideration, and the resulting schedule will be displayed in a calendar that will be viewable by Crownpoint Healthcare employees and patients, alike.
			</div>
	</div>

{% endblock %}
