<!DOCTYPE html>
{% extends 'layout.html' %}

{% block body %}
  <h1>Dashboard <small> Welcome {{session.username}}</small></h1>
  <a class="btn btn-success" href="/add_frequest"> Add Request Form</a>
  <hr>
  <table class="table table-striped">
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th></th>
      <th></th>
    </tr>
    {% for frequest in frequests %}
      <tr>
        <td>{{frequest.id}}</td>
        <td>{{frequest.title}}</td>
        <td><a href="edit_frequest/{{frequest.id}}" class="btn btn-default pull-right">Edit</a></td>
        <td>
          <form action="{{url_for('delete_frequest', id=frequest.id)}}" method="post">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Delete" class="btn btn-danger">
          </form>
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}