Install Python 2.7

These worked for ubuntu
	sudo apt install mysqlserver libmysqlclient-dev
	sudo apt install python-flask
	sudo apt install python-passlib
	sudo pip install flask-mysqldb
	sudo pip install flask-wtf


Didn't use these ones
	pip install passlib
	pip install flask-mysqldb
